@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

/* VARIABLES */

:root {
  --primary-col: #18181b;
  --secondary-col: #fafafa;
  --accent-col: #ffa500;
  --light-accent-col: #ffe3b0;
}

@layer base {
  @media screen and (min-width: 768px) {
    .carousel {
      mask-image: -moz-linear-gradient(
        left,
        rgba(30, 87, 153, 0.01) 0%,
        rgba(30, 87, 153, 0.12) 1%,
        rgba(30, 87, 153, 1) 9%,
        rgba(30, 87, 153, 1) 92%,
        rgba(30, 87, 153, 0) 100%
      ); /* FF3.6-15 */
      mask-image: -webkit-linear-gradient(
        left,
        rgba(30, 87, 153, 0.01) 0%,
        rgba(30, 87, 153, 0.12) 1%,
        rgba(30, 87, 153, 1) 9%,
        rgba(30, 87, 153, 1) 92%,
        rgba(30, 87, 153, 0) 100%
      ); /* Chrome10-25,Safari5.1-6 */
      mask-image: linear-gradient(
        to right,
        rgba(30, 87, 153, 0.01) 0%,
        rgba(30, 87, 153, 0.12) 1%,
        rgba(30, 87, 153, 1) 9%,
        rgba(30, 87, 153, 1) 92%,
        rgba(30, 87, 153, 0) 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }

  .link-text a {
    color: var(--accent-col);
  }

  @media (hover: hover) {
    .page-arrows:hover {
      background-color: var(--accent-col);
    }
    .site-header:hover,
    .site-header:focus,
    .footer-text:hover,
    .footer-text:focus {
      color: var(--accent-col);
    }
  }
}
