@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

/* VARIABLES */

:root {
  --primary-col: #18181b;
  --secondary-col: #fafafa;
  --accent-col: orange;
}

@layer base {
  .link-text a {
    color: var(--accent-col);
  }

  /* body {
  min-height: 100vh;
  
} */
}
