@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

/* VARIABLES */

:root {
  --primary-col: #18181b;
  --secondary-col: #fafafa;
  --accent-col: #ffa500;
  --light-accent-col: #ffe3b0;
}

@layer base {
  .link-text a {
    color: var(--accent-col);
  }

  @media (hover: hover) {
    .page-arrows:hover {
      background-color: var(--accent-col);
    }
    .site-header:hover,
    .footer-text:hover {
      color: var(--accent-col);
    }
  }
}
